/**************************************************/ 
/********************* General ********************/
/**************************************************/ 
h1, h2, h3, h4, h5, h6{
     font-family: 'Open Sans', sans-serif;
     font-weight: normal;
}
body{
    margin: 0px;
    background-image: url(Images/backthing.png);
    color: #282827;
}
p{
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
a {
    color: #011EA4;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}       
a:hover{
    color: #011EA4;
    text-decoration: underline;
}  
.banner2{
    display: none;
}
#Attention{
    animation: bounce 6s;
    -webkit-animation: bouncey 6s;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
@-webkit-keyframes bouncey{
    from {transform:rotate(0deg);}
    to {transform:rotate(1440deg);}
}
@keyframes bounce{
    from {transform:rotate(0deg);}
    to {transform:rotate(1440deg);}
}
.FrontPage{
    width: 100%;
    box-shadow: 1px 1px 10px #000;
}
.AboutMike{
    width: 13%;
    float: left;
    margin-right: 10px;
}
.tips{
    text-align: center;
    font-size: .8em;
    color: #000;
}
hr{
    background-color: #007196;
    height: 3px;
    width: 95%;
}
.Newshr{
    background-color: #000;
    height: 2px;
    border: 0; 
    width: 100%; 
}
table{
    border-collapse: collapse;
    border: 0px;
    margin: auto;
    width: 90%;
}
td {
   border: 1px solid black;
}
.subtitle{
    text-align: center;
}
.padding{
    padding: 40px;
    margin-top: 0px;
}
.adopt{
    border: 1px solid #000;
    border-spacing: 5em;
    border-radius: 10px;    
    border-collapse: separate; 
    border-spacing:0 25px;
    margin-bottom: 15px; 
    width: 600px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
    .adopt td{
        border: 0;
    }
.AdoptInfo{
    width: 80%;
    padding: 15px;
}    
.AdoptPic{
    text-align: center;
}
.AdoptImage{
    height: 10em;
}
.center{
    text-align: center;
}
.doglic{
    width: 250px;
    position: static;
}
.bold{
    font-weight: bold;
}
.RightInfo{
    width: 70%;
    line-height: 150%;
}
.AdoptTable{    
    padding: 10px;
    width: 100%
}
    .AdoptTable h2{
        text-align: center;
        float: top;
    }
.petattention{
    font-weight: bold; 
    text-align: center;
    color: #000;
}
/****************************************************/ 
/************************Layout *********************/
/****************************************************/ 

 td{
    width: 25%;
    font-family: 'Open Sans', sans-serif;
}
.PageHeader{
    margin: 15px;
    text-align: center;
}
section {
    float: left;
    width: 20em;
    text-align: left;
}
aside { 
    float: left;
    width: 50em;
}
.BodyContainer{
    box-shadow: 1px 1px 10px;
    max-width: 88em;
    margin-left:auto;
    margin-right:auto;
    padding: 0px;
    background-color: #fff;
    border: 0px solid;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.PropertyForm{   
    border: 1px solid #282827;
    padding: 12px;
    padding-right: 15px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}
.Select{
    width: 70%; 
    float: right
}
.SearchPage{
    padding: 12px;
    padding-right: 15px;
    max-width: 600px;
    width: 95%;
    margin: auto;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
    .SearchPage input{
        width: 20em;
        float: right;
    }
    .SearchPage select{
        float: right;
    }
section, aside{
    margin: 15px;
}
.right{
    width: 12em;
}
.BoxRight{
    border: 1px solid #282827;
    padding: 5px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 10px;
}
    .BoxRight h3{
        text-align: center;
    }
.BoxAttention{
    border: 1px solid #282827;
    padding: 8px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 10px; 
}
    .BoxAttention p{
        margin: auto;
        width: 90%;
    }
.NewsBox{ 
    border: 1px solid #282827;
    border-radius: 10px;  
    width: 15em;
    display: inline-block;
    padding: 0px;
    overflow: hidden;
    margin: 10px;
    text-align: left;
    height: 300px;
    height: 20em;  
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}    
    .NewsBox:hover{
        -webkit-transition: background 0.3s linear;
        -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        transition: background 0.5s linear;
        transition: all .5s ease-out;
        background-color: #acb4d9;
        text-decoration: none;        
    }
    .NewsBox img{
        width: 100%; 
        max-height: 230px;
        padding: 0px;
    }
    .NewsBox p{
        padding: 5px;
        font-size: .9em
    }

/****************************************************/
/************************ Wrappers ******************/
/****************************************************/   

.wrapper{
    background: #011EA4;
    width: 100%;
    margin: auto;
    height: 50px;
    padding: auto; 
    text-align: center;
}
.Mwrapper{
    background: #282827;
    width: 100%;
    height: 50px;
    padding: auto; 
    text-align: center;
    margin-bottom: 2em;
}
.wrapperFoot{
    background: #004962;
    width: 100%;
    margin: auto;
    padding: auto; 
    text-align: center;
    padding: auto;
    overflow: auto;
}
.Mwrapper{
    display: none;
}

/****************************************************/ 
/*************************** NavBar *****************/
/****************************************************/ 
.Additional{
    width: 219px;
}
.NavBar{   
    width: 76%;
    margin: auto;
    font-size: 1em;
}
    .NavBar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
    }
    .NavBar li {
        display: inline-block;
        float: left;
        margin-right: 0px;
        float: top;
        margin:0px;
    }
        .NavBar li a {
            display:block;
            height: 40px;
            text-align: center;
            line-height: 45px;
            font-family: 'Open Sans', sans-serif;
            color: #dcd8cf;
            padding-top: 0px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right:15px;
            background: #011EA4;
            text-decoration: none;
            min-width: 80px;    
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            -ms-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }
        .NavBar li:hover a {
            background-color: #007196;
            color:#dcd8cf;
            padding-bottom:10px;
            margin-bottom:0px;              
            box-shadow: inset 0px 0px 1px #fff;
            -webkit-transition: background 0.2s linear;
            -moz-transition: background 0.2s linear;
            -ms-transition: background 0.2s linear;
            -o-transition: background 0.2s linear;
            transition: background 0.2s linear;
        }
            .NavBar li:hover ul a {
                background: #007196;
                color: #dcd8cf;
                height: 40px;
                line-height: 40px;
                height: 30px;
            }
            .NavBar li:hover ul a:hover {
                background-color: #011EA4;
                color: #dcd8cf;
                padding-bottom:10px;
                margin-bottom:0px;              
                box-shadow: inset 0 0 5px #000000;            
            }
            .NavBar li ul {
                display: none;
            }
            .NavBar li ul li {
                display: block;
                float: none;
            }
            .NavBar li ul li a {
                padding: 0 20px;
            }
            .NavBar ul li a:hover + .hidden, .hidden:hover {
                display: block;
            }
            
/****************************************************/ 
/*************************** MNavBar ****************/
/****************************************************/             
            
.MNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 5;
}
.MNavBar  li {
    display: inline-block;
    float: left;
    margin-right: 0px;
    float: top;
    margin:0px;
}
    .MNavBar  li a {
        display:block;
        height: 30px;
        text-align: center;
        line-height: 40px;
        font-family: 'Open Sans', sans-serif;
        color: #dcd8cf;
        box-shadow: inset 0px 0px .1em #666;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right:15px;
        background: #282827;
        text-decoration: none;
    }
    .MNavBar  li:hover a {
        background-color: #007196;
        color:#dcd8cf;
        padding-bottom: 10px;
        margin-bottom: 0px;              
        box-shadow: inset 0px 0px 1px #fff;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
    }
        .MNavBar  li:hover ul a {
            background: #011EA4;
            color: #dcd8cf;
            height: 20px;
            line-height: 53px;
        }
        .MNavBar  li:hover ul a:hover {
            background-color: #282827;
            color:#dcd8cf;
            padding-bottom:10px;
            margin-bottom:0px;              
            box-shadow: inset 0 0 5px #dcd8cf;            
        }
        .MNavBar  li ul {
            display: none;
        }
        .MNavBar  li ul li {
            display: block;
            float: none;
        }
        .MNavBar  li ul li a {
            padding: 0 20px;
        }
        .MNavBar  ul li a:hover + .hidden, .hidden:hover {
            display: block;
        }       
.show-menu {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #f2f0ec;
    background: #282827;
    text-align: center;
    padding: 10px 0;
    display: none;
    margin-bottom: 0px; 
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/****************************************************/ 
/*************************** Footer *****************/
/****************************************************/ 

.Quotes{
    margin-top: 10px;
}
.Quotes h2{
    font-family: 'Palatino Linotype';
    color: #f2f0ec;
    font-style: italic;
    
}
.hr{
    margin-left: 10em;
    margin-right: 10em;
    background-color: #000;
    height: 1px;
    border: 0; 
    width: 80%;
    border-top: 2px solid #dcd8cf;  
}
.Social{
    display: block;
    margin: 5px auto 5px auto;
    width: 175px;
    position: inherit;
}
.Social_Buttton{
    text-align: center;
    margin: 0px;
}
.Footer{   
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.Footer ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
.Footer li {
    display: inline-block;
    float: left;
    margin-right: 0px;
    float: top;
    margin:0px;
}
    .Footer li a {
        display:block;
        height: 40px;
        text-align: center;
        line-height: 53px;
        font-family: 'Open Sans', sans-serif;
        color: #dcd8cf;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right:15px;
        background: #004962;
        text-decoration: none;
        width: 110px;
        margin: 10px;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .Footer li:hover a {
        background-color: #007196;
        color: #dcd8cf;
        padding-bottom: 10px;
        margin-bottom: 0px;              
        box-shadow: inset 0px 0px 1px #000000;
        -webkit-transition: background 0.3s linear;
        -moz-transition: background 0.3s linear;
        -ms-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        transition: background 0.3s linear;
        border: 1px #dcd8cf solid;
        border-radius: 3px;
        box-shadow: 0 0 10px #fff;       
    }
        .Footer li:hover ul a {
            background: #011ea4;
            color: #dcd8cf;
            height: 40px;
            line-height: 53px;
        }
        .Footer li:hover ul a:hover {
            background-color: #011ea4;
            color: #dcd8cf;
            padding-bottom: 10px;
            margin-bottom: 0px;              
            box-shadow: inset 0 0 5px #000000
        }
        .Footer li ul {
            display: none;
        }
        .Footer li ul li {
            display: block;
            float: none;
        }
        .Footer li ul li a {
            padding: 0 20px;
        }
        .Footer ul li a:hover + .hidden, .hidden:hover {
            display: block;
        }                
     
/****************************************************/ 
/*********************** Media ********************/
/****************************************************/         
        
@media screen and (max-width : 1420px){
    .NavBar{   
        width: 100%;
        margin: auto;
        font-size: .8em;
    }
    aside { 
        float: left;
        width: 37em;
    }
}
@media screen and (max-width : 1320px){
        .NavBar{   
        width: 96%;
        margin: auto;
        font-size: .7em;
    }        
        aside { 
        float: left;
        width: 39em;
    }
    .adopt{
        width: 510px;
    } 
}
@media screen and (max-width : 1240px){
    .NavBar{   
        width: 100%;
        margin: auto;
        font-size: .68em;
    }        
        aside { 
        float: left;
        width: 30em;
    }
        .Additional{
        width: 150px;;
    }
}
@media screen and (max-width : 1100px){
    .NavBar{   
        width: 100%;
        margin: 0;
        font-size: .74em;
    }
        .Footer{
        margin: auto; 
        width: 75%; 
    }
        aside { 
        float: left;
        width: 28em;
    }    
    .Quotes{
        margin-top: 100px;
    }
    section{
        width: 14em;
    }
        .NavBar li a{
        min-width: 0px;
    }
    .BodyContainer{
        margin-left: 12px;
        margin-right: 12px;
    }
    .Additional{
        width: 150px;;
    }
    .adopt{
        width: 100%;
    }
}
@media screen and (max-width : 970px){
    .NavBar{   
        width: 100%;
        margin: auto;
        font-size: 0.62em;
        padding: 0;
        margin: 0;
        min-width: 0px;
    }
    .Footer{
        margin: auto;  
        width: 75%;
    }
    aside{ 
        float: left;
        width: 16em;
    }
    section{
        width: 13em;
    }
    .NavBar li a{
        min-width: 0px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .Additional{
        width: 120px;
        text-align: right;
        height: 75px;
    }
    .right{
        width: 10em;
    }
}
@media screen and (max-width : 760px){
    .AdoptImage{
        height: 9em;
    }
    .Adopt{
        width: 100%;
    }
    .NewsBox img{
        width: 100%; 
        max-height: 150px;
        padding: 0px;
    }
    .BodyContainer{
        margin-left: auto;
        margin-right: auto;
    }
    .Additional{
        width: 96%;
    }
    .banner2{
        display:block;
    }
    .banner3{
        display: none;
    }    
    .right{
        width: 90%;
    }
    .NavBar{
       display: none;
    }
    .wrapper{
        display: none;
    }
    .Mwrapper{
        display: block;
    }
    .MNavBar  ul {
        position: static;
        text-align: center;
        display: none;
        left: 0px;
    }
    .MNavBar  ul li a{
        position: static;        
    }

    .MNavBar  li {
        margin-bottom: 0px;
        position: static;
        width: 100%;
    }

    .MNavBar  ul li, li a {
        width: 96.4%;      
        position: static;
    }

    .show-menu {
        display:block;
    }
    
    section, aside {
      float: none;
      width: auto;
    }
    
    .MNavBar  li:hover ul a {
        background: #f2f0ec;
        color: #000;
        height: 30px;
        line-height: 40px;
        position: static;
    } 
    .Footer{
        margin: auto;
        width: 75%;
    }
    .wrapper{
        text-align: center;
    }
    
    section {
        float: left;
        width: 24em;
    }

    aside {
        float: left;
        width: 24em;
    }
     
    .Quotes h1{
        margin-top: 200px;
    }
    .Quotes h1{
        font-size: 1em;
    }
    
    .wrapperFoot{
        height: 300px;
    }
    
    .hr{
        display: none;
    }   
    .Quotes{
        display: none;
    }
    .social{
        margin-left: 5em;
        width: 200px;
    }
    .banner2{
        background-color: #282827; 
    }
    .NewsBox{
        width: 10em;
        height: 16em;
    }
    /*#menu {
        display: flex;
       flex-direction: column;
       justify-content: center;
       width: 100%;
    }*/
    .social{
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 60%;
    }
    .AboutMike{
        width: 40%;
    }
    .Select{
        width: 17em;
    }
}
@media screen and (max-width : 400px){
    section {
        float: left;
        width: 18em;
    }
    aside {
        float: left;
        width: 18em;
    }  
    .wrapperFoot{
        height: 325px;
    }
    .Footer li a {
        width: 80px;
        font-size: .8em;
    }
    .NewsBox{
        width: 8em;
        height: 15em;
    }
    .MNavBar  ul li, li a {
        width: 95.4%;      
        position: static;
    }    
    .Footer{
        font-size: .96em;
    }
}